<header class="site-header">
  <div class="container">
    <a routerLink="/home" id="branding">
      <img src="dummy/logo.png" alt="Site Title">
      <small class="site-description">Slogan goes here</small>
    </a>
    <nav class="main-navigation">
      <button type="button" class="toggle-menu"><i class="fa fa-bars" (click)="print()"></i></button>
      <ul class="menu">
        <li class="menu-item ">
            <a routerLink="/home" routerLinkActive="active">HOME</a>
        </li>
        <li class="menu-item">
            <a routerLink="/gallery" routerLinkActive="active">GALLERY</a>
        </li>
        <li class="menu-item ">
            <a routerLink="/download" routerLinkActive="active">DOWNLOAD</a>
        </li>
        <li class="menu-item">
            <a routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
      </ul> 
    </nav>
    <div class="mobile-menu"></div>
  </div>
</header> 
