.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
app/build/*
app/build/**
web/dist/
web/node_modules/
web/node_modules/*
web/node_modules/**
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/org/jacoco/agent/AgentJar.class
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/jacocoagent.jar
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/about.html
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
vibes-app/build/tmp/expandedArchives/org.jacoco.agent-0.8.1.jar_8059ed6e1ab8b88aac5d9097fad847bb/META-INF/MANIFEST.MF
vibes-app/build/tmp/bootJar/MANIFEST.MF
vibes-app/build/test-results/test/binary/results.bin
vibes-app/build/test-results/test/binary/output.bin.idx
vibes-app/build/test-results/test/binary/output.bin
vibes-app/build/test-results/test/TEST-com.transx.vibes.VibesApplicationTests.xml
vibes-app/build/resources/main/application.properties
vibes-app/build/reports/tests/test/packages/com.transx.vibes.html
vibes-app/build/reports/tests/test/js/report.js
vibes-app/build/reports/tests/test/index.html
vibes-app/build/reports/tests/test/css/style.css
vibes-app/build/reports/tests/test/css/base-style.css
vibes-app/build/reports/tests/test/classes/com.transx.vibes.VibesApplicationTests.html
vibes-app/build/libs/vibes-0.0.1-SNAPSHOT.jar
vibes-app/build/jacoco/test.exec
vibes-app/build/classes/java/test/com/transx/vibes/VibesApplicationTests.class
vibes-app/build/classes/java/main/com/transx/vibes/VibesApplication.class
app/bin/main/com/transx/vibes/VibesApplication.class
node-app/package-lock.json
node-app/build/
node-app/node_modules/
vibe-app/node_modules/
vibe-ui/node_modules/
vibe-ui/dist/
vibe-app/build/
*.map
*.css
