<form #roleForm="ngForm" class="tdk-form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" class="tdk-flex-form">

    <div fxFlex.xs="100%" fxFlex="95%">
      <div fxLayout="column" fxLayoutAlign="space-around start">

        <mat-form-field fxFlex class="tdk-full-width">
          <input mdInput placeholder="Name" [(ngModel)]="model.type" name="type" required>
        </mat-form-field>

        <mat-checkbox fxFlex name="adminAccess" [(ngModel)]="model.adminAccess">Admin Access</mat-checkbox>

        <h3 fxFlex>
          Permissions
        </h3>

        <div *ngFor="let permission of permissionList">
          <mat-checkbox fxFlex name="{{permission.id}}" [(ngModel)]="permission.isChecked">{{permission.title}}</mat-checkbox>
          <i class="material-icons" style="cursor: pointer" (click)="viewPermission(permission)">help_outline</i>
        </div>

      </div>
    </div>

    <div fxFlex>
      <div class="form-button-group" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
        <button fxFlex.xs="100%" fxFlex="30%" [disabled]="!roleForm.form.valid" mat-raised-button type="submit" color="primary">SUBMIT</button>
        <button fxFlex.xs="100%" fxFlex="30%" mat-raised-button  (click)="cancel()" type="button" color="accent">CANCEL</button>
      </div>
    </div>

  </div>
</form>
