.input-row > * {
    width: 100%;
}

.input-row{
    top: 50px;
    background-color: mat-color($vibe-app-accent, 50);
    border: 2px solid mat-color($vibe-app-accent, 100);
    border-radius: 10px;
    max-width: 500px;
    margin: 25px auto;
    z-index: 0;
    padding-bottom: 5px;
    .mat-form-field-infix, mat-label{
        color: mat-color($mat-blue, 700) ;
        font-size: 21px;
        font-weight: 500;
    }
    .mat-form-field-outline-thick{
        color: mat-color($mat-blue, 300);
    }

    .form-field-invalid {
        color: #f02e1d;
    }

    .mat-form-field-label{
        color: mat-color($mat-blue, 700);
    }

   

    mat-error{
        margin-bottom: 15px;
    }
}


.mat-form-field-wrapper{
    .mat-form-field-flex{
        border-color: mat-color($mat-blue, 700) !important;
    }
}
