<mat-card class="portal-card">
  <mat-card-title>
    Dashboard
  </mat-card-title>

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">
    <portal-link-tile fxFlex.xs="1 1 50%" fxFlex.lt-lg="1 1 33%" fxFlex="1 1 25%" [routerLink]="'job-sites'" [title]="'Inventory & Service'">
      <!-- <i class="material-icons">business</i> -->
      <i><img src="../../../../assets/images/icons-warehouse.png" width="35px" height="35px"></i>
    </portal-link-tile>

    <portal-link-tile fxFlex.xs="1 1 50%" fxFlex.lt-lg="1 1 33%" fxFlex="1 1 25%" [routerLink]="['/portal/profile']" [title]="'Profile'">
      <i class="material-icons">person</i>
    </portal-link-tile>

    <portal-link-tile fxFlex.xs="1 1 50%" fxFlex.lt-lg="1 1 33%" fxFlex="1 1 25%" [routerLink]="'admin'" [title]="'Admin'">
      <i class="material-icons">settings</i>
    </portal-link-tile>

    <!-- <portal-link-tile fxFlex.xs="1 1 50%" fxFlex.lt-lg="1 1 33%" fxFlex="1 1 25%" [routerLink]="'admin'" [title]="'Admin'">
      <i class="material-icons">settings</i>
    </portal-link-tile> -->
  </div>
</mat-card>