<mat-card class="centered-card">

  <mat-card-title>
    {{model.username}}
  </mat-card-title>

  <form #profileForm="ngForm" class="tdk-form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" class="tdk-flex-form">

      <div fxFlex.xs="100%" fxFlex="95%">
        <div fxLayout="column" fxLayoutAlign="space-around start">

          <mat-form-field fxFlex class="tdk-full-width">
            <input matInput placeholder="Email" [(ngModel)]="model.email" name="email" required>
          </mat-form-field>

          <mat-form-field fxFlex class="tdk-full-width">
            <input matInput placeholder="First Name" [(ngModel)]="model.firstName" name="firstName" required>
          </mat-form-field>

          <mat-form-field fxFlex class="tdk-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]="model.lastName" name="lastName" required>
          </mat-form-field>

        </div>
      </div>

      <div fxFlex>
        <div class="form-button-group" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center">
          <button fxFlex.xs="100%" fxFlex="30%" [disabled]="!profileForm.form.valid" md-raised-button (click)="updateProfile()" type="button" color="primary">SUBMIT</button>
          <button fxFlex.xs="100%" fxFlex="30%" mat-raised-button  (click)="cancel()" type="button" color="accent">CANCEL</button>
        </div>
      </div>
    </div>
  </form>
</mat-card>
